/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.11.2015, 13:45:00
    Author     : Алексей
*/

.gwt-TextBox {
    padding: 6px 12px;
}

.gwt-TabLayoutPanelTabs {
    
}

div.gwt-TabLayoutPanelTab {
    padding: 10px 15px !important;
    border-radius: 4px 4px 0px 0px !important;
}

div.undergwt-TabLayoutPanelTabs {
    position: relative; left: 0px; top: 0px; right: 0px;
}

div.gwt-TabLayoutPanelTabs {
    position: relative!important; display: block
}

div.tabs-chevron {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
}